
  .sortable-list {
    width: 100%;
    background: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
  .sortable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 10px 13px;
    margin-bottom: 11px;
    border: 1px solid #ccc;
    justify-content: space-between;
  }
  .item .cont {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .item .cont img {
    height: 43px;
    width: 43px;
    pointer-events: none;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
  }
  .item .cont span {
    font-size: 1.13rem;
  }
  .item.dragging {
    opacity: 0.6;
  }
  .item.dragging :where(.cont, i) {
    opacity: 0;
  }

  .sortable-list .item .buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  
  .sortable-list .item .buttons button {
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sortable-list .item .buttons button:hover {
    background-color: #0056b3;
  }
  
  .sortable-list .item .buttons button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }