.jump-to-top-animation {
    animation: jump-to-top 3s forwards;
}

@keyframes jump-to-top {
    0% {
        bottom: -5px; 
        left: 22%;
    }
    10% {
        bottom: 30px; 
        left: 26%;
    }
    20% {
        bottom: 65px; 
        left: 30%;
    }
    30% {
        bottom: 95px; 
        left: 35%;
    } 
    40% {
        bottom: 125px; 
        left: 40%;
    }
    50% {
        bottom: 155px; 
        left: 44%;
    }
    60% {
        bottom: 185px; 
        left: 48%;
    }
    70% {
        bottom: 220px; 
        left: 52%;
    }
    85% {
        bottom: 255px; 
        left: 56%;
    }
    100% {
        bottom: 290px; 
        left: 60%;
    }
}


.jump-to-bottom-animation {
    animation: jump-to-bottom 1s forwards;
}


@keyframes jump-to-bottom {
    0% {
        bottom: -5px; 
        left: 22%;
    }
    50% {
        bottom: 30px; 
        left: 26%;
    }
    100% {
        bottom: 60px; 
        left: 30%;
    }
}